*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 1;
}
h1 > a > img{
    width: 120px;
    margin: 0 2% 0 2%;
    float: left;
}
.menu{
    display: flex;
}
.menu > a{
    width: 100px;
    text-align: center;
    line-height: 72.33px;
    color: #ffff;
}
.background{
    position: relative;
    display: inline-block;
}
.background > img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -10 !important;
    filter: brightness(50%);
}
.back_ment_wrap{
    display: inline-block;
    position: absolute;
    top:50%;  left:50%;
    transform: translate(-50%, -50%);
}
.back_ment_wrap > span {
    width: 100%;
    color: #ffff;
    max-height: 400px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3vw;
    text-align: center;
    font-weight: 500;
    opacity: 0.8;
}
.more{
    position: absolute;
    display: inline-block;
    top: 100%; left: 50%;
    transform: translate(-50%, -100%);
}
.mar_span{
    display: inline-block;
    margin: 0 auto;
}
.swipe{
    position: relative;
    margin-bottom: 20px;
}
.swipe > p{
    color: #ffff;
    font-family: 'Nanum Gothic', sans-serif;
}
.swipe > img{
    display: block;
    margin: 0 auto;
    margin-top: 0.3vw;
}